<div ng-include="'top-menu/views/top-menu.html'"></div>
<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<table class="table">
				<tr>
					<th>Клиент</th>
					<th>Сегмент</th>
					<th>Ожидаемая ежемесячная выручка, руб</th>
					<th>Ожидаемая валовая прибыль, %</th>
					<th>Расчетная прибыль, руб</th>
					<th>Статус</th>
				</tr>
				<tr ng-repeat="details in records track by details._id">
					<td>{{details.clientName}}</td>
					<td>{{details.segmentName}}</td>
					<td>{{details.segmentRevenue.toLocaleString()}}</td>
					<td>{{details.segmentProfit}}</td>
					<td ng-class="{'danger': details.segmentProfit<=15, 'warning':details.segmentProfit<=20&&details.segmentProfit>15, 'success': details.segmentProfit>20}">{{(details.segmentRevenue * details.segmentProfit / 100).toLocaleString()}}</td>
					<td>{{details.statusName}}</td>
					<td><button class="btn btn-primary" ng-click="open($index)"><span class="glyphicon glyphicon-edit"></span> Изменить</button></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<button class="btn btn-primary col-lg-offset-1" ng-click="open(null)"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
	</div>
</div>
