<div class="modal-header">
	<h3 class="modal-title">Детальная информация</h3>
</div>
<div class="modal-body">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation"><a href="#client" aria-controls="client" role="tab" data-toggle="tab" ng-click="$event.preventDefault();">Клиент</a></li>
		<li role="presentation"><a href="#segment" aria-controls="segment" role="tab" data-toggle="tab" ng-click="$event.preventDefault();">Сегмент</a></li>
		<li role="presentation"><a href="#status" aria-controls="status" role="tab" data-toggle="tab" ng-click="$event.preventDefault();">Процесс и цель</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="client">
			<div class="container-fluid">
				<br />
				<div class="form-group">
					<label for="clientName">Название клиента</label>
					<input type="text" class="form-control" id="clientName" placeholder="Название клиента" ng-model="item.clientName">
				</div>
				<div class="panel-group" id="accordionClient" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default" id="contactDetals">
						<div class="panel-heading" role="tab" id="panelClientOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordionClient" href="#collapseClientOne" aria-expanded="true" aria-controls="collapseClientOne" ng-click="$event.preventDefault();">Контактное лицо</a>
							</h4>
						</div>
						<div id="collapseClientOne" class="panel-collapse collapse in" role="tabpanel">
							<div class="panel-body form-horizontal">
								<div class="form-group">
									<label class="col-sm-3" for="contactFullName">Полное имя</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="contactFullName" placeholder="ФИО" ng-model="item.contactFullName">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="contactJobTitle">Должность</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="contactJobTitle" placeholder="Должность" ng-model="item.contactJobTitle">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="contactPhone">Телефон</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="contactPhone" placeholder="Телефон" ng-model="item.contactPhone">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="contactMobile">Мобильный</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="contactMobile" placeholder="Мобильный" ng-model="item.contactMobile">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="contactEmail">Email</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="contactEmail" placeholder="address@example.com" ng-model="item.contactEmail">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="contactBirthDate">Дата рождения</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="contactBirthDate" placeholder="01.01.1970" ng-model="item.contactBirthDate">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default" id="bossDetals">
						<div class="panel-heading" role="tab" id="panelClientTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionClient" href="#collapseClientTwo" aria-expanded="false" aria-controls="collapseClientTwo" ng-click="$event.preventDefault();">Руководитель, принимающий решения</a>
							</h4>
						</div>
						<div id="collapseClientTwo" class="panel-collapse collapse" role="tabpanel">
							<div class="panel-body form-horizontal">
								<div class="form-group">
									<label class="col-sm-3" for="bossFullName">Полное имя</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="bossFullName" placeholder="ФИО" ng-model="item.bossFullName">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="bossJobTitle">Должность</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="bossJobTitle" placeholder="Должность" ng-model="item.bossJobTitle">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="bossPhone">Телефон</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="bossPhone" placeholder="Телефон" ng-model="item.bossPhone">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="bossMobile">Мобильный</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="bossMobile" placeholder="Мобильный" ng-model="item.bossMobile">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="bossEmail">Email</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="bossEmail" placeholder="address@example.com" ng-model="item.bossEmail">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="bossBirthDate">Дата рождения</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="bossBirthDate" placeholder="01.01.1970" ng-model="item.bossBirthDate">
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- .panel-group #accordionClient -->
			</div>
			<!-- .container-fluid -->
		</div>
		<!-- .tab-pane #client -->
		<div role="tabpanel" class="tab-pane" id="segment">
			<div class="container-fluid">
				<br />
				<div class="form-group">
					<label for="segmentName">Сегмент клиента</label>
					<select class="form-control" id="segmentName" placeholder="Выберите сегмент..." ng-model="item.segmentName">
						<option value="Прибыльный ЦЕЛЕВОЙ">Прибыльный ЦЕЛЕВОЙ</option>
						<option value="Прибыльный НЕЦЕЛЕВОЙ">Прибыльный НЕЦЕЛЕВОЙ</option>
					</select>
				</div>
				<!-- .form-group -->
				<div class="panel-group" id="accordionSegment" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default" id="segmentFinance">
						<div class="panel-heading" role="tab" id="panelSegmentOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordionSegment" href="#collapseSegmentOne" aria-expanded="true" aria-controls="collapseSegmentOne" ng-click="$event.preventDefault();">Финансовые показатели</a>
							</h4>
						</div>
						<div id="collapseSegmentOne" class="panel-collapse collapse in" role="tabpanel">
							<div class="panel-body form-horizontal">
								<div class="form-group">
									<label class="col-sm-3" for="segmentRevenue">Ожидаемая выручка</label>
									<div class="col-sm-9">
										<input type="number" class="form-control" id="segmentRevenue" placeholder="0,00" ng-model="item.segmentRevenue">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="segmentProfit">Ожидаемая прибыль</label>
									<div class="col-sm-9">
										<input type="number" class="form-control" id="segmentProfit" placeholder="0,00" ng-model="item.segmentProfit">
									</div>
								</div>
							</div>
							<!-- .panel-body form-horizontal -->
						</div>
						<!-- .panel-collapse collapse in #collapseSegmentOne -->
					</div>
					<!-- .panel panel-default #segmentFinance-->
					<div class="panel panel-default" id="segmentServices">
						<div class="panel-heading" role="tab" id="panelSegmentTwo">
							<h4 class="panel-title">
								<a href="#collapseSegmentTwo" role="button" data-toggle="collapse" data-parent="#accordionSegment" aria-expanded="false" aria-controls="collapseSegmentTwo" ng-click="$event.preventDefault();">Потребность в сервисе</a>
							</h4>
						</div>
						<div id="collapseSegmentTwo" class="panel-collapse collapse" role="tabpanel">
							<div class="panel-body container-fluid">
								<div class="row">
									<div class="col-sm-6">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h5 class="panel-title">АТМ</h5></div>
											<div class="panel-body">
												<div class="checkbox" ng-repeat="atm in atmServices">
													<label>
														<input type="checkbox" ng-checked="item.segmentServices.indexOf(atm) != -1" ng-click="toggleCheck(atm)" value="atm">{{atm.replace('atm-', '')}}</label>
												</div>
												<!-- .checkbox -->
											</div>
											<!-- .panel-body -->
										</div>
										<!-- .panel panel-default -->
									</div>
									<!-- .col-sm-6 -->
									<div class="col-sm-6">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h5 class="panel-title">Перевозки</h5></div>
											<div class="panel-body">
												<div class="checkbox" ng-repeat="log in logServices">
													<label>
														<input type="checkbox" ng-checked="item.segmentServices.indexOf(log) != -1" ng-click="toggleCheck(log)" value="log">{{log.replace('log-', '')}}</label>
												</div>
												<!-- .checkbox -->
											</div>
											<!-- .panel-body -->
										</div>
										<!-- .panel panel-default -->
									</div>
									<!-- .col-sm-6 -->
								</div>
								<!-- .row -->
								<div class="row">
									<div class="col-sm-6">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h5 class="panel-title">CIT</h5></div>
											<div class="panel-body">
												<div class="checkbox" ng-repeat="cit in citServices">
													<label>
														<input type="checkbox" ng-checked="item.segmentServices.indexOf(cit) != -1" ng-click="toggleCheck(cit)" value="cit">{{cit.replace('cit-', '')}}</label>
												</div>
												<!-- .checkbox -->
											</div>
											<!-- .panel-body -->
										</div>
										<!-- .panel panel-default -->
									</div>
									<!-- .col-sm-6 -->
									<div class="col-sm-6">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h5 class="panel-title">Хранение</h5></div>
											<div class="panel-body">
												<div class="checkbox" ng-repeat="keep in keepServices">
													<label>
														<input type="checkbox" ng-checked="item.segmentServices.indexOf(keep) != -1" ng-click="toggleCheck(keep)" value="keep">{{keep.replace('keep-', '')}}</label>
												</div>
												<!-- .checkbox -->
											</div>
											<!-- .panel-body -->
										</div>
										<!-- .panel panel-default -->
									</div>
									<!-- .col-sm-6 -->
								</div>
								<!-- .row -->
								<div class="row" ng-show="item.segmentName === 'Прибыльный ЦЕЛЕВОЙ'">
									<div class="col-sm-6">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h5 class="panel-title">AMS</h5></div>
											<div class="panel-body">
												<div class="checkbox" ng-repeat="ams in amsServices">
													<label><input type="checkbox" ng-checked="item.segmentServices.indexOf(ams) != -1" ng-click="toggleCheck(ams)" value="ams">{{ams.replace('ams-', '')}}</label>
												</div>
												<!-- .checkbox -->
											</div>
											<!-- .panel-body -->
										</div>
										<!-- .panel panel-default -->
									</div>
									<!-- .col-sm-6 -->
									<div class="col-sm-6">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h5 class="panel-title">MP</h5></div>
											<div class="panel-body">
												<div class="checkbox" ng-repeat="mp in mpServices">
													<label><input type="checkbox" ng-checked="item.segmentServices.indexOf(mp) != -1" ng-click="toggleCheck(mp)" value="mp">{{mp.replace('mp-', '')}}</label>
												</div>
												<!-- .checkbox -->
											</div>
											<!-- .panel-body -->
										</div>
										<!-- .panel panel-default -->
									</div>
									<!-- .col-sm-6 -->
								</div>
								<!-- .row -->
							</div>
							<!-- .panel-body -->
						</div>
						<!-- .panel-collapse collapse #collapseSegmentTwo -->
					</div>
					<!-- .panel panel-default #segmentServices -->
				</div>
				<!-- .panel-group #accordionSegment-->
			</div>
			<!-- .container-fluid -->
		</div>
		<!-- .tab-pane #segment -->
		<div role="tabpanel" class="tab-pane" id="status">
			<div class="container-fluid">
				<br />
				<div class="form-group">
					<label for="statusName">Статус</label>
					<select class="form-control" id="statusName" placeholder="Выберите статус..." ng-model="item.statusName">
						<option value="Резерв">Резерв</option>
						<option value="Интерес">Интерес</option>
						<option value="Убеждение">Убеждение</option>
						<option value="Сделка">Сделка</option>						
					</select>
				</div>
				<!-- .form-group -->
				<div class="panel-group" id="accordionActions" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default" id="nextAction">
						<div class="panel-heading" role="tab" id="panelActionsOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordionActions" href="#collapseActionOne" aria-expanded="true" aria-controls="collapseActionOne" ng-click="$event.preventDefault();">Следующее действие</a>
							</h4>
						</div>
						<!-- .panel-heading $panelActionsOne -->
						<div id="collapseActionOne" class="panel-collapse collapse in" role="tabpanel">
							<div class="panel-body form-horizontal">
								<div class="form-group">
									<label class="col-sm-3" for="nextActionType">Вид действия</label>
									<div class="col-sm-9">
										<select class="form-control" id="nextActionType" placeholder="Выберите тип действия..." ng-model="item.nextAction.actionType">
											<option value="Контакт:email">Контакт:email</option>
											<option value="Контакт:звонок">Контакт:звонок</option>
											<option value="Контакт:встреча">Контакт:встреча</option>
											<option value="Смена статуса">Смена статуса</option>						
										</select>										
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3" for="nextActionDate">Дата действия</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="nextActionDate" ng-model="item.nextAction.actionDate">
									</div>
								</div>
							</div>
							<!-- .panel-body form-horizontal -->
						</div>
						<!-- .panel-collapse #collapseActionOne -->						
					</div>
					<!-- .panel panel-default #nextAction -->
					<div class="panel panel-default" id="listActions">
						<div class="panel-heading" role="tab" id="panelActionsTwo">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordionActions" href="#collapseActionTwo" aria-expanded="true" aria-controls="collapseActionTwo" ng-click="$event.preventDefault();">История действий</a>
							</h4>
						</div>
						<!-- .panel-heading $panelActionsOne -->
						<div id="collapseActionTwo" class="panel-collapse collapse" role="tabpanel">
							<div class="panel-body form-horizontal">
								<table class="table">
									<tr>
										<th>Дата действия</th>
										<th>Вид действия</th>
									</tr>
									<tr ng-repeat="action in item.actions">
										<td>{{action.actionDate}}</td>
										<td>{{action.actionType}}</td>
									</tr>
								</table>							
							</div>
							<!-- .panel-body form-horizontal -->
						</div>
						<!-- .panel-collapse #collapseActionOne -->						
					</div>
					<!-- .panel panel-default #nextAction -->					
				</div>
				<!-- .panelGroup #accordionActions -->
			</div>
			<!-- .container-fluid -->
		</div>
		<!-- .tab-pane #status -->
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>