<div class="container-fluid" ng-controller="MenuCtrl">
	<!-- Навигационная панель -->
	<div class="nav navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="/#/main">Главная</a>					
		</div>
		<ul class="nav navbar-left top-nav">
			<li><a href="/#/main">{{isCurUserAManager() ? 'Просмотр данных' : 'Ввод данных'}}</a></li>
			<li><a href="/#/charts">Отчеты</a></li>
			<li ng-show="isCurUserAnAdmin()"><a href="/#/test">Администрирование</a></li>
		</ul>
		<ul class="nav navbar-right top-nav">
			<li><a href="/#/logout">Выйти</a></li>
		</ul>
	</div>				
</div>
