<div class="container-fluid">
	<!-- Навигационная панель -->
	<div class="nav navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="/#/main">Главная</a>					
		</div>
		<ul class="nav navbar-left top-nav">
			<li><a href="/#/main">Ввод данных</a></li>
			<li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Отчеты <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><strong>&nbsp;Воронка продаж:</strong></li>
					<li><a href="/#/charts/status/funnel">Текущее состояние </a></li>
					<li><a href="/#/charts/funnel/2015">Динамика за 2015 год</a></li>
					<li class="divider"></li>
					<li><strong>&nbsp;Сегменты:</strong></li>
					<li><a href="/#/charts/status/segment">Текущее состояние</a></li>
				</ul>
			</li>
			<li ng-show="$root.globals.currentUser.roles.indexOf('manager') !== -1 && reportLocation">
				<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Продавцы<span class="caret"></span></a>
					<ul class="dropdown-menu">
							<li ng-click="setSalesman($event, user)" ng-repeat="user in users"><a href="">{{user}}</a></li>
					</ul>
			</li>
			<li ng-show="$root.globals.currentUser.roles.indexOf('admin') !== -1"><a href="/#/test">Администрирование</a></li>
		</ul>
		<ul class="nav navbar-right top-nav">
			<li><a href="/#/logout">Выйти</a></li>
		</ul>
	</div>				
</div>