<div ng-include="'top-menu/views/top-menu.html'"></div>
<div class="container" ng-cloak>
	<form class="form-inline" ng-submit="run()">
		<label for="dashboardType" class="input-sm">Вид графика:</label>
		<select class="form-control input-sm" id="dashboardType" ng-model="type">
			<option value="segment">Сегментация клиентов</option>
			<option value="funnel">Воронка продаж</option>
		</select>
		<label for="year" class="input-sm">Год:</label>
		<select class="form-control input-sm" id="year" ng-model="year">
			<option ng-repeat="n in [2015, 2016, 2017, 2018, 2019, 2020]">{{n}}</option>
		</select>
		<input class="btn btn-primary input-sm" type="submit" value="Получить данные">
	</form>
	<hr />
	<div class="row">
		<div id="dashboard" class="chart-row"></div>		
	</div>
</div>
